@import './base.css';
/* @import './element.scss'; */

body {
  width: 100vw;
  height: 100vh;
}
#app {
  height: 100%;
  /* min-height: 780px; */
  overflow: hidden;
}

.el-table {
  background: #dddddd !important;

  .el-table__header-wrapper {
    .el-table__cell {
      /* padding: 0px 4px; */

      /* border-left-color: #3a446d !important; */
      .cell {
        /* background: #3a446d; */
        /* border-radius: 4px; */
      }
    }
  }

  /* .el-table__inner-wrapper {
    &::before {
      background: transparent !important;
    }
  } */

  tr {
    background: transparent !important;

    th {
      background: transparent !important;
      color: #000;
      font-size: 14px;
      font-weight: 800;
      /* border-bottom-color: #3a446d !important; */
    }

    td {
      background: transparent !important;
      /* border-bottom-color: #3a446d !important; */
      color: #3a446d;
      /* padding: 6px 0px !important; */
    }
  }
}

.pile-popover {
  padding: 0px 0px !important;
  border-width: 0px !important;
  background: rgba(0, 0, 0, 0.8) !important;
  .el-popover__title {
    text-align: center;
    color: #1ff0a5;
    font-size: 12px;
    font-weight: 600;
    /* background: rgba(0, 0, 0, 0.5); */
    padding: 10px;
    border: 1px solid rgba(137, 223, 249, 0.5);
    border-radius: 4px;
  }
}
